@font-face {
  font-family: "NeueKaineLight";
  src: url("../Assets/Fonts/NeueKaine-Light.ttf") format("truetype");
}

.work-samples {
  padding: 15px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 6rem;
}

.project-container {
  position: relative;
  width: calc(50% - 15px);
  margin-right: 15px;
  margin-bottom: 15px;
  overflow: hidden; /* Para evitar que el texto del proyecto se desborde */
}

.project-container img {
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease; /* Transición suave */
}

.project-container:hover img {
  transform: scale(1.2);
  filter: none;
}

.project-box {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 18px;
  width: 50%;
  font-family: "NeueKaineLight";
  background-color: #0051ff;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  text-align: center;
  visibility: hidden;
  text-decoration: none;
  opacity: 0; /* Inicialmente transparente */
  transition: visibility 0s, opacity 0.3s linear; /* Transición suave */
}

.project-container:hover .project-box {
  visibility: visible; /* Mostrar al pasar el cursor */
  opacity: 1; /* Hacer visible */
}

@media only screen and (max-width: 600px) {
  .grid-container{
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    gap: 20px;
  }

 
  .project-container {
    width: 100%;
  }
}
